<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <section>
        <h2>{{ restaurant.get('name') }} </h2>
        <img src="{{ restaurant.get('image_url') }}" alt="Restaurant picture">
        <p>{{ restaurant.get('display_address') }}</p>
        <br>
        <p>Price: &emsp; <b>{{ restaurant.get('price') }}</b></p>
        <hr border-top: dotted; > 
        <p>Rating: &emsp; <b>{{ restaurant.get('rating') }}</b></p>
        <hr border-top: dotted;> 
        <p># Reviews: &emsp; <b>{{ restaurant.get('review_count') }}</b></p>
        <hr border-top: dotted;> 
        <br>
    </section>


</body>
</html>

